# Check the README for a guided example on retrieving this value for production
DATABASE_URL="mysql://root@127.0.0.1:3309/video-course-starter-kit"

# Easily generate a new value for the NextAuth secret here
# https://generate-secret.vercel.app/
NEXTAUTH_SECRET=

# Create a new GitHub OAuth app to get these values
# https://github.com/settings/developers
GITHUB_ID=
GITHUB_SECRET=

# Learn how to get your Mux access tokens
# https://docs.mux.com/guides/video/make-api-requests
MUX_TOKEN_ID=
MUX_TOKEN_SECRET=

# Optionally verify incoming webhooks are from Mux
# https://docs.mux.com/guides/video/verify-webhook-signatures
MUX_WEBHOOK_SECRET=

# This is only required for local development – you don't have to set this when deploying to Vercel
NEXTAUTH_URL="http://localhost:3000"
